/* Permitir scroll horizontal fluido en móviles */
@media (max-width: 1024px) {
    html, body {
        /* Permite el movimiento lateral sin trabas */
        overflow-x: auto !important; 
        overflow-y: auto !important;
        /* Fuerza a que el cuerpo respete el tamaño original de computadora */
        width: max-content !important; 
        min-width: 100vw !important;
        /* Activa el scroll suave nativo en pantallas táctiles (iOS y Android) */
        -webkit-overflow-scrolling: touch !important;
    }
}
